{% extends "admin/admin_dashboard.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/addbook.css' %}" />
{% endblock css %} 
{% block body %}
<div class="mt-5">
  <div class="hero-body">
    <div style="margin: auto">
      <form class="frame" method="POST" action="{% url 'addbook' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="frame__body">
          <div class="row level fill-height">
            <div class="col">
              <div class="space xlarge"></div>
              <div class="padded">
                <h1 class="u-text-center u-font-alt">Add Book</h1>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-user"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_name" placeholder="Enter book name" />
                </div>

                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_isbn" placeholder="Enter book isbn" />
                </div>

                <div class="form-section section-inline">
                  <div class="section-body row">
                    <div class="form-group col-6 pl-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-calendar"></i>
                        </span>
                      </label>
                      <input type="date" class="form-group-input" name="publish_date"
                        placeholder="Enter Book Publication Date" />
                    </div>
                    <div class="form-group col-6 pr-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-envelope"></i>
                        </span>
                      </label>
                      <input type="text" class="form-group-input" name="author_name" placeholder="Enter book Author Name" />                        
                    </select>
                    </div>
                  </div>
                </div>
                <div class="form-section section-inline">
                  <div class="section-body row">
                    <div class="form-group col-6 pl-2">
                        <label class="form-group-label"><span class="icon">
                            <i class="fa-wrapper far fa-envelope"></i></span></label>
                        <select class="form-control" name="category" style="height: 78px;" required>
                          <option>Select Category</option>
                          {% for i in categories %}
                           <option value="{{i.id}}">{{i.category_name}}</option>
                          {% endfor %}
                        </select>
                     </div>
                    <div class="form-group col-6 pr-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-envelope"></i>
                        </span>
                      </label>
                      <input type="text" class="form-group-input" name="main_category" placeholder="Enter book Main-Category" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="language" placeholder="Enter book Language" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="reading_age" placeholder="Enter book reading age" />
                </div>

                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="weight" placeholder="Enter book weight" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="dimensions" placeholder="Enter book dimensions" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="volume" placeholder="Enter book volume" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="origin" placeholder="Enter book origin" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="file" name="cover_image" class="form-group-input" />
                </div>
                <textarea name="description" placeholder="Book Description"></textarea>

                <div class="form-ext-control form-ext-checkbox">
                  <input type="checkbox" id="check1" class="form-ext-input" name="check" checked/>
                  <label class="form-ext-label" for="check1">Book Status</label>
                </div>

                <div class="space"></div>

                <div class="btn-group u-pull-right">
                  <button type="submit" class="btn-info">Add</button>
                </div>
              </div>
              <div class="space xlarge"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}