{% extends "admin/admin_dashboard.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/addbook.css' %}" />
{% endblock css %} 
{% block body %}
<div class="mt-5">
  <div class="hero-body">
    <div style="margin: auto">
      <form class="frame" method="POST" action="{% url 'updatebook' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="frame__body">
          <div class="row level fill-height">
            <div class="col">
              <div class="space xlarge"></div>
              <div class="padded">
                <h1 class="u-text-center u-font-alt">Edit Book</h1>
                {% include 'common/error.html '%}
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-user"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_name" value="{% for book in books %}{{book.book_name}}{% endfor %}" />
                  <input type="text" class="form-group-input" name="book_id" value="{% for book in books %}{{book.id}}{% endfor %}" hidden />
                </div>

                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_isbn"value="{% for book in books %}{{book.book_isbn}}{% endfor %}" />
                </div>

                <div class="form-section section-inline">
                  <div class="section-body row">
                    <div class="form-group col-6 pl-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-calendar"></i>
                        </span>
                      </label>
                      <input type="date" class="form-group-input" name="publication_date"
                        placeholder="Enter Book Publication Date" />
                    </div>
                    <div class="form-group col-6 pr-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-envelope"></i>
                        </span>
                      </label>
                      <input type="text" class="form-group-input" name="book_publisher"value="{% for book in books %}{{book.publisher.author_name}}{% endfor %}"/>                        
                    </select>
                    </div>
                  </div>
                </div>
                <div class="form-section section-inline">
                  <div class="section-body row">
                    <div class="form-group col-6 pl-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-envelope"></i>
                        </span>
                      </label>
                      <input type="text" class="form-group-input" name="book_category" value="{% for book in books %}{{book.category.category_name}}{% endfor %}" />
                    </div>
                    <div class="form-group col-6 pr-2">
                      <label class="form-group-label">
                        <span class="icon">
                          <i class="fa-wrapper far fa-envelope"></i>
                        </span>
                      </label>
                      <input type="text" class="form-group-input" name="book_language"value="{% for book in books %}{{book.text.language}}{% endfor %}" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_reading_age" value="{% for book in books %}{{book.book_reading_age}}{% endfor %}" />
                </div>

                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_weight" value="{% for book in books %}{{book.book_weight}}{% endfor %}" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_dimensions" value="{% for book in books %}{{book.book_dimensions}}{% endfor %}" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_volume" value="{% for book in books %}{{book.book_volume}}{% endfor %}" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="text" class="form-group-input" name="book_origin" value="{% for book in books %}{{book.book_origin}}{% endfor %}" />
                </div>
                <div class="form-group">
                  <label class="form-group-label">
                    <span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i>
                    </span>
                  </label>
                  <input type="file" name="book_image" class="form-group-input" />
                </div>
                <textarea name="book_description" placeholder="Book Description">{% for book in books %}{{book.book_description}}{% endfor %}</textarea>

                <div class="form-ext-control form-ext-checkbox">
                  <input type="checkbox" id="check1" class="form-ext-input" name="book_status"/>
                  <label class="form-ext-label" for="check1">Book Status</label>
                </div>

                <div class="space"></div>

                <div class="btn-group u-pull-right">
                  <button type="submit" class="btn-info">Update</button>
                </div>
              </div>
              <div class="space xlarge"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}