{% extends "admin/admin_dashboard.html" %}
{% load static %}
{% block css %}
<style>
    .dataTables_wrapper .dataTables_filter input{ 
height: 40px; 
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: -35px;
    }
</style>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock css %}
{% block body %}
<div class="row"> 
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h4 class="header-title">Book Information</h4>
            {% include 'common/error.html '%}
            <div class="data-tables datatable-dark">
                <table id="dataTable3" class="text-center">
                <thead>
                    <tr class="text-center">
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Roll No</th>
                        <th>Phone</th>
                        <th>Book Name</th>
                        <th>Author Name</th>
                        <th>ISBN</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for books in issuedBooks %}
                    <tr class="text-center">
                        <td>{{forloop.counter}}.</td>
                        <td>{{books.student_name.user.first_name}}&nbsp;{{books.student_name.user.last_name}}</td>
                        <td>{{books.student_name.branch}}</td>
                        <td>{{books.student_name.roll_no}}</td>
                        <td>{{books.student_name.phone}}</td>
                        <td>{{books.book_name}} ({{books.book_name.book_volume}})</td>
                        <td>{{books.book_name.publisher}}</td>
                        <td>{{books.book_name.book_isbn}}</td>
                        <td>{{books.issued_date}}</td>
                        <td>{{books.date_return}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script>
      $(document).ready(function() {
    $('#dataTable3').DataTable();
} );
$(document).on('click', '.bookIssuedDelete', function(){
    return confirm('Are you sure you want to delete this?');
})

  </script>
{% endblock js %}