{% extends "admin/admin_dashboard.html" %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/addbook.css' %}" />
{% endblock css %} 
{% block body %}
<div class="mt-5">
    <div class="hero-body">
      <div style="margin: auto">
        <form class="frame" method="POST" action="{% url 'issuebook' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="frame__body">
            <div class="row level fill-height">
              <div class="col">
                <div class="space xlarge"></div>
                <div class="padded">
                  <h1 class="u-text-center u-font-alt">Issue Book</h1>
                  <div class="form-group">
                    <label class="form-group-label"><span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i></span></label>
                    <select class="form-control" name="book_name" id="select_book" style="height: 55px;" onchange="getdata()" required>
                    <option selected disabled value="">Select Book </option>
                    {% for book in books %}
                     <option value="{{book.id}}" data-book="{{book.publisher}}" id="book-{{book.id}}" data-isbn="{{book.book_isbn}}" data-volume="{{book.book_volume}}" data-category="{{book.category}}" data-subcategory="{{book.main_category}}">{{book.book_name}}</option>
                    {% endfor %}
                  </select>
                  </div>
                  <div class="form-group">
                    <label class="form-group-label">
                      <span class="icon">
                        <i class="fa-wrapper far fa-user"></i>
                      </span>
                    </label>
                    <input type="text" class="form-group-input" id="isbn" name="isbn" placeholder="Enter book ISBN" />
                  </div>
                  <div class="form-section section-inline">
                    <div class="section-body row">
                      <div class="form-group col-6 pl-2">
                        <label class="form-group-label">
                          <span class="icon">
                            <i class="fa-wrapper far fa-user"></i>
                          </span>
                        </label>
                        <input type="text" class="form-group-input" id="author" name="author" placeholder="Enter book Author" />
                       </div>
                      <div class="form-group col-6 pr-2">
                        <label class="form-group-label">
                          <span class="icon">
                            <i class="fa-wrapper far fa-user"></i>
                          </span>
                        </label>
                        <input type="text" class="form-group-input" id="category" name="category" placeholder="Enter book Category" />
                      </div>
                    </div>
                  </div>  

                  <div class="form-section section-inline">
                    <div class="section-body row">
                      <div class="form-group col-6 pl-2">
                        <label class="form-group-label">
                          <span class="icon">
                            <i class="fa-wrapper far fa-user"></i>
                          </span>
                        </label>
                        <input type="text" class="form-group-input" id="subcategory" name="sub_category" placeholder="Enter book sub-category" />
                       </div>
                      <div class="form-group col-6 pr-2">
                         <label class="form-group-label">
                          <span class="icon">
                            <i class="fa-wrapper far fa-user"></i>
                          </span>
                        </label>
                        <input type="date" class="form-group-input" name="issue_date" />
                      </div>
                    </div>
                  </div>  
                  <div class="form-group">
                    <label class="form-group-label">
                      <span class="icon">
                        <i class="fa-wrapper far fa-envelope"></i>
                      </span>
                    </label>
                    <input type="text" class="form-group-input" id="volume" name="volume" placeholder="Enter book volume" />
                  </div>

                  <div class="form-group">
                    <label class="form-group-label"><span class="icon">
                      <i class="fa-wrapper far fa-envelope"></i></span></label>
                  <select class="form-control" name="student_id" style="height: 55px;" required>
                    <option selected disabled value="">Select Student </option>
                    {% for student in students %}
                    <option value="{{student.id}}">{{student.user.first_name}}&nbsp;{{student.user.last_name}}</option>
                    {% endfor %}
                  </select>
                  </div>
  
                  <div class="space"></div>
  
                  <div class="btn-group u-pull-right">
                    <button type="submit" class="btn-info">Issue</button>
                  </div>
                </div>
                <div class="space xlarge"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
        //function get form field 
        getdata = function () {
            var name = document.getElementById("select_book").value;
            document.getElementById('author').value = document.getElementById('book-' + name).getAttribute('data-book')
            document.getElementById('isbn').value = document.getElementById('book-' + name).getAttribute('data-isbn')
            document.getElementById('volume').value = document.getElementById('book-' + name).getAttribute('data-volume')
            document.getElementById('category').value = document.getElementById('book-' + name).getAttribute('data-category')
            document.getElementById('subcategory').value = document.getElementById('book-' + name).getAttribute('data-subcategory')
        }

  </script>
{% endblock js %}