{% load static %}
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="#"><img src="{% static 'img/dshlogo.png' %}" alt="logo" style="max-width: 175%; height: 10vh;"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Books</span></a>
                        <ul class="collapse">
                            <li><a href="{% url 'viewbook' %}">Book List</a></li>
                            <li><a href="{% url 'addbook' %}">Add Book</a></li>
                            <li><a href="{% url 'issuebook' %}">Issue a Book</a></li>
                            <li><a href="{% url 'issuedbooks' %}">Issued Book List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Authors</span></a>
                        <ul class="collapse">
                            <li><a href="{% url 'viewauthor' %}">Authors List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Categories</span></a>
                        <ul class="collapse">
                            <li><a href="{% url 'addcategories' %}">Add Categories</a></li>
                            <li><a href="{% url 'viewcategories' %}">Categories List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Manage Users</span></a>
                        <ul class="collapse">
                            <li><a href="#">Users List</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>