{% extends "admin/admin_dashboard.html" %} 
{% load static %}
{% block css %}
<style>
    .dataTables_wrapper .dataTables_filter input{ 
height: 40px; 
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: -35px;
    }
</style>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock css %}
{% block body %}
    <div class="row"> 
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h4 class="header-title">Customer List</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer DOB</th>
                                <th>Customer Phone</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td>{{customer.user.first_name }}&nbsp;{{customer.user.last_name }}</td>
                                <td>{{customer.customer_dob }}</td>
                                <td>{{customer.phone }}</td>
                                <td>{{customer.gender }}</td>
                                <td class="text-right">
                                    <div class="actions">
                                       <a href="{% url 'deletestudent' customer.id %}" type="submit" class="btn-delete" style="padding: 5px; font-size: 17px; margin: -2px;">
                                       <i class="fas fa-trash"></i>
                                       </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script>
      $(document).ready(function() {
    $('#dataTable3').DataTable();
} );

$(document).on('click', '.btn-delete', function(){
    return confirm('Are you sure you want to delete this?');
})

  </script>
{% endblock js %}


