{% extends "admin/admin_dashboard.html" %} 
{% load static %}
{% block css %}
<style>
    .dataTables_wrapper .dataTables_filter input{ 
height: 40px; 
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: -35px;
    }
</style>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock css %}
{% block body %}
    <div class="row"> 
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h4 class="header-title">Data Table Dark</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th> Book Name</th>
                                <th> Book Volume</th>
                                <th> Author Name</th>
                                <th> Book Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{book.book_name}}</td>
                                <td>{{book.book_volume}}</td>
                                <td>{{book.publisher.author_name}}</td>
                                <td>{{book.category.category_name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script>
      $(document).ready(function() {
    $('#dataTable3').DataTable();
} );
  </script>
{% endblock js %}


