{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/banner.css'%}">
{% endblock css %}
  <section>
    <div>
      <div>
        <div class="mySlides example">
          <img src="{% static 'images/frontbanner.jfif' %}" style="width:100%"> 
        </div>
        
        <div class="mySlides example">
          <img src="{% static 'images/frontbanner2.jpg' %}" style="width:100%">
        </div>
        
        <div class="mySlides example ">
          <img src="{% static 'images/frontbanner3.jpg' %}" style="width:100%">
        </div>
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
    </div>
  </section>
  {% block js %}
    <script>
      let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
    </script>
  {% endblock js %}