{% load static %}
<section class="category-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="{% static 'img/category/c1.jpg' %}" alt="">
              <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="{% static 'img/category/c2.jpg' %}" alt="">
              <a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="{% static 'img/category/c3.jpg' %}" alt="">
              <a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Product for Couple</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="{% static 'img/category/c4.jpg' %}" alt="">
              <a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-deal">
          <div class="overlay"></div>
          <img class="img-fluid w-100" src="{% static 'img/category/c5.jpg' %}" alt="">
          <a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
            <div class="deal-details">
              <h6 class="deal-title">Sneaker for Sports</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>