{% load static %}

<div class="single-product-slider mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>All Catagory's</h1>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-lg-3 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="w-100" style="height: 338px; max-width: 100%;" src="{% static 'images/horrorvector.jpg'%}" alt="">
                    <a href="{% static 'images/horror.jpg'%}" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Horror Stories</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="w-100" style="height: 338px; max-width: 100%;;" src="{% static 'images/sportsbook.jpg' %}" alt="">
                    <a href="{% static 'images/sports.jpg'   %}" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Sports Stories</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="w-100" style="height: 338px; max-width: 100%;;" src="{% static 'images/autobio.jpg'%}" alt="">
                    <a href="{% static 'images/anime.jpg'%}" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Anime Stories</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="w-100" style="height: 338px; max-width: 100%;;" src="{% static 'images/autobio.jpg' %}" alt="">
                    <a href="{% static 'images/autobio.jpg' %}" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Biopic Books</h6>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>