{% extends "common/base.html" %}
{% load static %}
{% block title %} Book Category {% endblock title %}
{% block body %}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    {% include "includes/header.html" %}
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1> Books Category </h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
			
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->

<!-- Main Content Starts Here -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head"><a href="{% url 'viewbookscategory' 0  %}" style="color:white">All Categories</a></div>
                {% for i in categories %}
                <ul class="main-categories">
                    <li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#cat-{{i}}" aria-expanded="false"
                         aria-controls="categories"><span class="lnr lnr-arrow-right"></span>{{i.category_name}}<span class="number"></span></a>
                         {% for cat in i.maincategory_set.all %}
                         <ul class="collapse" id="cat-{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="booksmaincategories">
                            <li class="main-nav-list child"><a href=" {% url 'viewbookscategory' items=i.id %}">{{cat.name}}<span class="number"></span></a></li>
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                    </select>
                </div>
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Filter Bar -->
            
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    <!-- single product -->
                    {% for book in books %}
                    <div class="col-lg-4 col-md-4">
                        <div class="single-product">
                            <a href="{% url 'bookdetials' book.id %}"> 
                            <img class="img-fluid" src="{{book.book_image.url}}" alt="">
                            </a>
                            <div class="product-details">
                                <a href ="{% url 'bookdetials' book.id %}"><h6>{{book.book_name |truncatechars:13}}</h6> </a>
                                <div class="price">
                                    <h6> ₹{{book.bookprice}} </h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </section>
            <!-- End Best Seller -->
            
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

<!-- start footer Area -->
<footer class="footer-area section_gap">
    {% include "includes/footer.html" %}
</footer>
<!-- End footer Area -->
{% endblock body %}