{% extends "common/base.html" %}
{% load static %}
{% block title %} Book Category {% endblock title %}
{% block body %}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    {% include "includes/header.html" %}
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1> Books Category </h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->

<!-- Main Content Starts Here -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head"><a href="{% url 'viewbookscategory' 0  %}" style="color:white">All Categories</a></div>
                <ul class="main-categories">
                    {% for i in categories %}
                {% if i.children.all %}
                <li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#cat-{{i}}" aria-expanded="false"
                     aria-controls="categories"><span class="lnr lnr-arrow-right"></span>{{i.category_name}}<span class="number"></span></a>
                     {% for obj in i.children.all %} 
                     {% if obj in i.children.all %}
                     <ul class="collapse" id="cat-{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="booksmaincategories">
                        <li class="main-nav-list child"><a href="{% url 'viewbookscategory' items=obj.id %}">{{obj.category_name}}</a><span class="number"></span></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% for subobj in i.children.all %}
                    {% if subobj in obj.children.all %}
                    <ul class="collapse" id="cat-{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="booksmaincategories">
                        <li class="main-nav-list child"><a href="{% url 'viewbookscategory' items=obj.id %}">{{subobj.category_name}}</a><span class="number"></span></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </li> 
                {% endif %}
                {% endfor %}






                {% for i in categories %}
                {% if i.children.all %}
                <li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#cat-{{i}}" aria-expanded="false"
                     aria-controls="categories"><span class="lnr lnr-arrow-right"></span>{{i.category_name}}<span class="number"></span></a>
                     {% for obj in i.children.all %} 
                     {% if obj in i.children.all %}
                     <ul class="collapse" id="cat-{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="booksmaincategories">
                        <li class="main-nav-list child"><a href="{% url 'viewbookscategory' items=obj.id %}">{{obj.category_name}}</a><span class="number"></span></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% for subobj in i.children.all %}
                    {% for t in subobj.children.all %}
                    {% for s in t.children.all %}
                    {{s}}
                    {% endfor %}
                    {% endfor %}
                    {% if subobj in obj.children.all %}
                    <ul class="collapse" id="cat-{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="booksmaincategories">
                        <li class="main-nav-list child"><a href="{% url 'viewbookscategory' items=obj.id %}">{{subobj.category_name}}</a><span class="number"></span></li>
                    </ul>
                    
                    {% endif %}
                    {% endfor %}
                </li> 
                {% endif %}
                {% endfor %} 
                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    <!-- single product -->
                    {% for book in books %}
                    <div class="col-lg-4 col-md-4">
                        <div class="single-product">
                            <a href="{% url 'bookdetials' book.id %}"> 
                            <img class="img-fluid" src="{{book.book_image.url}}" alt="">
                            </a>
                            <div class="product-details">
                                <a href ="{% url 'bookdetials' book.id %}"><h6>{{book.book_name |truncatechars:13}}</h6> </a>
                                <div class="price">
                                    <h6> {{book.publisher}} </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>

<!-- start footer Area -->
<footer class="footer-area section_gap">
    {% include "includes/footer.html" %}
</footer>
<!-- End footer Area -->
{% endblock body %}