{% extends "user/student_dashboard.html" %}
{% load static %}
{% block body %}
<div style="display: flex;">
    <h2>Welcome &nbsp;</h2><h2 style="color:brown"> {{user.first_name}}!</h2>
</div>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">Book Issued</h6>
                <h6 class="text-white count">{{issuedbooks}}</h6>
            </div>
        </div>
        </div> 
            <div class="col-md-6 col-lg-4">
                <div class="card card-hover">
                    <div class="box bg-primary text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                        <h6 class="text-white"><a href="{% url 'viewbookscategory' 0  %}" class="text-white">Available Books</a></h6>
                        <h6 class="text-white count">{{books}}</h6>
                    </div>
                </div>
                </div>
        <div class="col-md-6 col-lg-4">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">Requested Books</h6>
                <h6 class="text-white count">{{requestedbook}}</h6>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
{% block js %}
<script>
   $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 2500,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
{% endblock js %}