{% extends "common/base.html" %}
{% load static %}
{% block title %} Book Shop {% endblock title %}
{% block body %}

  <!-- Start Header Area -->
    {% include "includes/header.html" %}
<!-- End Header Area -->

<!-- start banner Area -->

    {% include "includes/banner.html" %}
<!-- End banner Area -->

<!-- start features Area -->
    {% include "includes/features.html" %}
<!-- end features Area -->

<!-- Start category Area -->
    {% include "includes/category.html" %}
<!-- End category Area -->

<!-- Start products Area -->
{% include "includes/products.html" %}
<!-- End products Area -->

<!-- Start exclusive deal Area -->
    {% include "includes/exclusive.html" %}
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
    {% include "includes/brands.html" %}
<!-- End brand Area -->

<!-- Start related products Area -->
{% include "includes/related_products.html" %}
<!-- End related products Area -->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    {% include "includes/footer.html" %}
</footer>
<!-- End footer Area -->
{% endblock body %}
