{% extends "common/base.html" %}
{% load static %}
{% block title %} Product Details {% endblock title %}
{% block body %}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    {% include "includes/header.html" %}
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1> Books Category </h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Books<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Book Detail</a>
			
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->
{% include 'common/error.html '%}
<div class="product_image_area">
    <div class="container">
        {% for p in product %}
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img style="max-width: 100% !important; height: auto !important; margin-top: -100px !important;" src="{{p.book_image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img style="max-width: 100% !important; height: auto !important; margin-top: -100px !important;" src="{% static 'img/category/s-p1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{p.book_name}}</h3>
                    <h2>{{p.publisher}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{p.category.parent}}</a></li>
                        {% if p.book_status == True %}
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                        {% else %}
                        <li><a href="#"><span>Availibility</span> : Not Available </a></li>
                        {% endif %}
                    </ul>
                    <p>{{p.book_description}}</p>
                    {% if show %}
                    <div class="card_area d-flex align-items-center">
                        <button data-toggle="modal" data-target="#requestbookmodal"  style="border: none;" disabled>Already Requested</button>
                    </div>
                    {% else %}
                    <div class="card_area d-flex align-items-center">
                        <button class="primary-btn" data-toggle="modal" data-target="#requestbookmodal"  style="border: none;">Request this Book</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Specification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                 aria-selected="false">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                 aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>{{p.book_description}}</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>ISBN</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_isbn}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Publisher</h5>
                                </td>
                                <td>
                                    <h5>{{p.publisher}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Language</h5>
                                </td>
                                <td>
                                    <h5>{{p.text}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Publication Date</h5>
                                </td>
                                <td>
                                    <h5>{{p.publication_date}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Dimensions</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_dimensions}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_weight}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Reading Age</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_reading_age}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Origin</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_origin}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Volume</h5>
                                </td>
                                <td>
                                    <h5>{{p.book_volume}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{% endfor %}
<!--  Particular Book Comment Section Starts Here -->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            {% for comment in comments %}
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{comment.studentname.user.profile_pic.url}}" alt="Image">
                                    </div>
                                    <div class="media-body">
                                        <h4>{{comment.studentname.user.first_name}}&nbsp;{{comment.studentname.user.last_name}}</h4>
                                        <h5>{{comment.cmnt_date}}</h5>
                                        <!-- <a class="reply_btn" href="#">Reply</a> -->
                                    </div>
                                </div>
                                <p>{{comment.comment}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Post a comment</h4>
                            {% for p in product %}
                            <form class="row contact_form" action="{% url 'addcomment' p.id %}" method="POST" id="contactForm" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit"  class="btn primary-btn">Post</button>
                                </div>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
<!-- End Comment Section -->

<!-- Student Review Section -->
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on 3 Reviews</h3>
                                    <ul class="list">
                                        <li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            {% for review in userreview %}
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{review.student_name.user.profile_pic.url}}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>{{review.student_name.user.first_name}}&nbsp;{{review.student_name.user.last_name}}</h4>
                                        {% if review.rating == 1 %}
                                        <i class="fa fa-star"></i>
                                        {% elif review.rating == 2 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif review.rating == 3 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif review.rating == 4 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif review.rating == 5 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% else %}
                                        <h4>No Ratings Given </h4>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>{{review.mesage}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <!-- <p>Your Rating:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Outstanding</p> -->
                            {% for p in product %}
                            <form class="row contact_form" action="{% url 'addreview' p.id %}" method="POST" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {% csrf_token %}
                                                {{form}}
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="reviewmsg" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="primary-btn">Submit</button>
                                </div>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Book Review Section Ends Here -->
</section>
<!--================End Product Description Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    {% include "includes/footer.html" %}
</footer>

{% for i in product  %}
<!-- Request Book Modal Starts here -->
  <div class="modal fade" id="requestbookmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Request Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'saverequest' i.id %}" method="POST">
                {% csrf_token %}
                <label for="">Select Upto Date</label><br>
                <input type="date" class="form-control" name="uptodate">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Request</button>
        </div>
    </form>
      </div>
    </div>
  </div>

{% endfor %}
<!-- End footer Area -->
{% endblock %}
