<nav class="sidebar-nav">
    <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'dashboardstudent' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                    class="hide-menu">Dashboard</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'studentbookissued' %}" aria-expanded="false"><i class="fa-solid fa-book"></i><span
                    class="hide-menu">Books Issued</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'bookrequesthistory' %}" aria-expanded="false"><i class="fa-solid fa-clock-rotate-left"></i><span
                    class="hide-menu">Request History</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'studentprofile' %}" aria-expanded="false"><i class="fa-solid fa-address-card"></i><span
                    class="hide-menu">Profile</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'doLogout' %}" aria-expanded="false"><i class="fa-solid fa-right-from-bracket"></i><span
                    class="hide-menu">Logout</span></a></li>
    </ul>
</nav>