{% extends 'common/base.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

{% endblock %}
{% block body %}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    {% include "includes/header.html" %}
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo"
                  style="max-width: 105%;
                  height: 84%;
                  margin-left: 15px;
                  margin-top: 54px;"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin-top: 43px;"
                />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  {% include 'common/error.html '%}
                  <h3 class="mb-5 text-uppercase">Customer Registration</h3>
                <form method="POST" action="{% url 'student_registration' %}" enctype="multipart/form-data" class="was-validated">
                    {% csrf_token %}
                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-outline mb-4">
                        <input type="text"  id="validationTextarea" class="form-control form-control-lg form-input" name="username" placeholder="Username"  />
                        
                        
                      </div>
                      <div class="form-outline mb-4">
                        <label>First Name</label>
                        <input type="text"  id="customControlValidation3" class="form-control form-control-lg form-input" name="first_name" placeholder="First Name"  />    
                      </div>
                    
                      <div class="form-outline mb-4">
                        <label>Last Name</label>
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" name="last_name" placeholder="Last Name"   />

                      </div>
                        <div class="form-outline mb-4">
                          <label>Phone</label>
                          <input type="text"  class="form-control form-control-lg" name="phone" placeholder="Mobile Number"  />
                          
                        </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">      
                    <div class="form-outline mb-4">
                      <label>Email</label>
                        <input type="email" id="form3Example97" class="form-control form-control-lg" name="email" placeholder="Email"   />
                      </div>

                      <div class="mb-4">
                        <label>Gender</label>
                        <select class="form-select form-select-lg mb-4" name="gender" required aria-label="select Gender"  >
                          <option value="">Gender</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">Other</option>
                        </select>
                      </div>
                  </div>
                  
                  </div>
                  <div class="form-outline mb-4">
                    <label>Date of Birth</label>
                    <input type="date" id="form3Example9" class="form-control form-control-lg" name="dob_student"  />
                  </div>  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example9" class="form-control form-control-lg" name="password" placeholder="Password"  />
                  </div>  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example9" class="form-control form-control-lg" name="confirm_password" placeholder="Confirm Password"  />
                  </div>  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
                  </div>
                </div>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
